<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="controller.js"></script>
    <script src="angular-local-storage.min.js"></script>
    <title>To Do List</title>
</head>
<body ng-controller="BodyController">
    <h1>To Do List</h1>
    <ul>
        <li ng-repeat="act in todolist">
            {{act.actividad}} - 
            {{act.fecha}}
        </li>
    </ul>

    <form ng-submit="agregarActividad()">
        <input ng-model="activ.actividad" type="text" placeholder="Actividad">
        <input ng-model="activ.fecha" type="date">
        <input type="submit" value="Guardar">
    </form>
    <p>-----------------------------------------------------------------</p>
    <button ng-click="limpiarLista()">Limpiar</button>
</body>
</html>